{% extends "@RayenbouDashboard/dashboard/base.html.twig" %}

{% block title %}Ticket
{% endblock %}

{% block body %}
	<div class='container border  mt-4 p-4'>
		<a href="{{ path('rayenbou_dashboard_index') }}" class='btn btn-dark mt-3'>Back to tickets</a>
		<h2 class='mt-4 py-2'>{{ ticket.title }}</h2>

		<div class="card my-3">
			<div class='card-body'>
				<p class="card-text">
					<div class='lead'>ID:</div>
					{{ ticket.id }}</p>
				<p class="card-text">
					<div class='lead'>Creation:</div>
					{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</p>
				<p class="card-text">
					<div class='lead'>Domain:</div>
					{{ ticket.domain }}</p>
				<p class="card-text">
					<div class='lead'>Token:</div>
					{{ ticket.token }}</p>
			</div>
		</div>
		{% for message in ticket.ticketMessages %}
			<div class="d-flex {{ message.author == ticket.email ? 'justify-content-start' : 'justify-content-end' }} mb-2">
				<div class="card" style="min-width: 300px;">
					<div class="card-body">
						<p class="card-text">{{ message.description }}</p>
					</div>
					<div class="card-footer d-flex justify-content-between">
						<small>{{ message.author ? message.author : "You" }}</small>
						<small>{{ message.createdAt|date('d/m/y  H:i') }}</small>
					</div>
				</div>
			</div>
		{% endfor %}
		{{ include('@RayenbouDashboard/dashboard/_form.html.twig') }}
		<form action="{{ path('rayenbou_dashboard_change_status', {'id': ticket.getId()}) }}" method="post">
			<input type="hidden" name="_token" value="{{ csrf_token('change_status' ~ ticket.getId()) }}">
			<button type="submit" class="btn {{ ticket.status ? 'btn-success' : 'btn-danger' }}">{{ticket.status ? "open": "closed"}}</button>
		</form>
	</div>
{% endblock %}
